@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #2c282f;
}
a {
    text-decoration: none
}

.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
    overflow: hidden;
}

.container .forms {
    display: flex;
    align-items: center;
    width: 200%;
    height: 440px;
    transition: height .2s ease;
}


.container .form {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left .18s ease;
}

/* Form active animation */
.container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left .18s ease, opacity 0.15s ease;
}
.container .signup {
    opacity: 0;
    transition: opacity .09s ease;
}
.container.active .signup {
    opacity: 1;
    transition: opacity .2s ease;
}
.container.active .forms {
    height: 600px;
} /*Final del active animation */

.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #8c36e1;
    border-radius: 25px;
}

.form .input__field {
    margin-top: 30px;
    position: relative;
    height: 50px;
    width: 100%;
}

.input__field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all .2s ease;
}

.input__field input:is(:focus, :valid) {
    border-bottom-color: #8c36e1;
}

.input__field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all .2s ease;
}
.input__field input:is(:focus, :valid) ~ i{
    color: #8c36e1;
}

.input__field i.icon {
    left: 0;
}
.input__field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox__content {
    display: flex;
    align-items: center;
}

.checkbox__content input {
    margin: 0 8px -2px 4px;
    accent-color: #8c36e1;
}

.form .text {
    font-size: 14px;
    color: #333;
}

.form a.text {
    color: #8c36e1;
}

.form a:hover {
    text-decoration: underline;
}

.form .button input{
    border:  none;
    color: #fff;
    background-color: #8c36e1;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s ease;
}

.button input:hover {
    background-color: #781fd1;
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}